* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* padding: 3%; */
}

.header {
  height: 100vh;
  background-image: url(../img/main-planet.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.rocket-logo {
  color: white;
  position: absolute;
  top: 40px;
  left: 40px;
}

.center-box {
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.main-heading {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 40px;
}

.main-text {
  display: block;
  font-weight: 400;
  letter-spacing: 70px;
  font-size: 60px;
  animation-name: main-text-animate;
  animation-duration: 5s;
}

.secondary-text {
  display: block;
  font-weight: 400;
  letter-spacing: 20.5px;
  font-size: 20px;
  animation-name: secondary-text-animate;
  animation-duration: 5s;
}

.center-box {
  width: 50%;
  margin: auto;
}

.discover-text {
  text-align: center;
}

.btn:link,
.btn:visited {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 15px;
  animation-name: discover-text-animate;
  animation-duration: 8s;
  /* display: inline-block; */
}

/* ANIMATIONS */
@keyframes main-text-animate {
  0% {
    opacity: 0;
    transform: translate(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes secondary-text-animate {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes discover-text-animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
