@keyframes main-text-animate {
  0% {
    opacity: 0;
    transform: translate(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes secondary-text-animate {
  0% {
    opacity: 0;
    transform: translateY(4rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes discover-text-animate {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

.main-heading {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 4rem; }
  .main-heading--main-text {
    display: block;
    font-weight: 400;
    letter-spacing: 7rem;
    font-size: 6rem;
    animation-name: main-text-animate;
    animation-duration: 5s; }
  .main-heading--secondary-text {
    display: block;
    font-weight: 400;
    letter-spacing: 2.05rem;
    font-size: 2rem;
    animation-name: secondary-text-animate;
    animation-duration: 5s; }

.discover-text {
  text-align: center;
  font-size: 1.5rem; }

.btn:link,
.btn:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  animation-name: discover-text-animate;
  animation-duration: 8s; }

.header {
  height: 100vh;
  background-image: url(../img/main-planet.jpg);
  background-size: cover;
  background-position: center;
  position: relative; }
  .header__rocket-logo {
    color: #fff;
    position: absolute;
    top: 4rem;
    left: 4rem;
    font-size: 1.5rem; }
  .header__center-box {
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 50%;
    margin: auto; }
