@keyframes main-text-animate {
  0% {
    opacity: 0;
    transform: translate(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes secondary-text-animate {
  0% {
    opacity: 0;
    transform: translateY(4rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes discover-text-animate {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

.main-heading {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 4rem; }
  .main-heading--main-text {
    display: block;
    font-weight: 400;
    letter-spacing: 7rem;
    font-size: 6rem;
    animation-name: main-text-animate;
    animation-duration: 5s; }
  .main-heading--secondary-text {
    display: block;
    font-weight: 400;
    letter-spacing: 2.05rem;
    font-size: 2rem;
    animation-name: secondary-text-animate;
    animation-duration: 5s; }

.discover-text {
  text-align: center;
  font-size: 1.5rem; }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right, #fff, #777);
  -webkit-background-clip: text;
  background-clip: text;
  letter-spacing: 2px;
  color: transparent;
  transition: all 0.2s; }
  .heading-secondary:hover {
    text-shadow: 0.5rem 1rem 2rem rgba(255, 255, 255, 0.5); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff; }

.paragraph {
  font-size: 1.6rem;
  color: #fff; }
  .paragraph:not(last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.btn:link, .btn:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  animation-name: discover-text-animate;
  animation-duration: 8s; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #f7f7f7;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #f7f7f7;
  padding: 3px; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }

.header {
  height: 100vh;
  background-image: url(../img/main-planet.jpg);
  background-size: cover;
  background-position: center;
  position: relative; }
  .header__rocket-logo {
    color: #fff;
    position: absolute;
    top: 4rem;
    left: 4rem;
    font-size: 1.5rem; }
  .header__center-box {
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 50%;
    margin: auto; }

.section-about {
  background-color: rgba(0, 0, 0, 0.883);
  padding: 25rem 0;
  border-top: 3px solid #fff; }
