// FONT SIZES
$default-font-size: 1.6rem;

// COLORS
$color-white: #fff;
$color-grey: #777;
$color-light-grey: #f7f7f7;
$color-orange: #ff5100ed;
$color-orange-red: #ff7730;
$color-black: #000000e1;
$color-blueViolet: #8a2be2;
$color-gold: #ffbb00;
$color-golden: #ffb900;
$color-silver: #e6e6e6;
$color-bronze: #925815;
$color-dark-bronze: #945921;
$color-green: #09ee09;
$color-really-black: #000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
