// FONT SIZES
$default-font-size: 1.6rem;

// COLORS
$color-white: #fff;
$color-grey: #777;
$color-light-grey: #f7f7f7;
$color-orange: rgba(255, 81, 0, 0.931);
$color-black: rgba(0, 0, 0, 0.883);
$color-blueViolet: #8a2be2;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
