// FONT SIZES
$default-font-size: 1.6rem;

// COLORS
$color-white: #fff;
$color-grey: #777;
$color-light-grey: #f7f7f7;
$color-orange: #ff5100ed;
$color-orange-red: #ff7730;
$color-black: rgba(0, 0, 0, 0.883);
$color-blueViolet: #8a2be2;
$color-gold: #ffbb00;
$color-golden: #ffb900;
$color-silver: rgb(230, 230, 230);
$color-bronze: rgb(146, 88, 21);
$color-dark-bronze: rgb(148, 89, 33);

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
