.header {
  height: 100vh;
  background-image: url(../img/main-planet.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 0%);
  clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 0%);

  &__helm-logo {
    color: $color-white;
    position: absolute;
    top: 4rem;
    left: 4rem;
    font-size: 1.5rem;
  }

  &__center-box {
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 50%;
    margin: auto;
  }
}
