.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 4rem;
    right: 4rem;
    background-color: $color-white;
    z-index: 50;
    text-align: center;
    cursor: pointer;

    @include resize(tab) {
      right: 7rem;
      height: 6rem;
      width: 6rem;
    }
    @include resize(phone) {
      right: 3rem;
      height: 6rem;
      width: 6rem;
    }
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 4.5rem;
    right: 4.5rem;
    background-image: radial-gradient($color-grey, $color-really-black);
    z-index: 30;
    box-shadow: 0.5rem 0.5rem 2rem $color-white;
    //transition: transform 0.5s;
    transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
    @include resize(tab) {
      right: 7.5rem;
      height: 5rem;
      width: 5rem;
    }
    @include resize(phone) {
      right: 3rem;
      height: 5rem;
      width: 5rem;
    }
  }

  &__nav {
    height: 100vh;
    width: 0%;
    opacity: 0;
    z-index: 40;
    position: fixed;
    top: 0;
    left: 0;
    // transition: all 0.5s;
    transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-orange;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      //   background-image: linear-gradient(
      //     120deg,
      //     transparent -10%,
      //     transparent 50%,
      //     $color-orange 50%
      //   );
      //   background-size: 220%;
      transition: all 0.5s;
    }

    &:hover,
    &:active {
      text-decoration: underline;
      //   background-position: 100%;
      //   color: $color-white;
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  // HAMBURGER ICON //--------------------

  &__icon {
    position: relative;
    margin-top: 3.4rem;

    @include resize(tab) {
      margin-top: 3rem;
    }
    &,
    &::before,
    &::after {
      background-color: $color-orange;
      width: 3rem;
      height: 2px;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.7rem;
    }

    &::after {
      top: 0.7rem;
    }
  }
  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }
  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
