// make card colors gold/silver/bronze

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;

  @include resize(tab) {
    height: 60rem;
  }
  @include resize(phone) {
    height: 50rem;
  }

  &__side {
    height: 50rem;
    transition: all, 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;

    @include resize(tab) {
      height: 60rem;
    }
    @include resize(phone) {
      height: 50rem;
    }

    &--front {
      background-color: rgba($color-white, 0.2);

      &--gold {
        color: $color-gold;
        box-shadow: 0 0.5rem 4rem $color-gold;
        border: 5px solid $color-gold;
      }

      &--silver {
        color: $color-light-grey;
        box-shadow: 0 0.5rem 4rem $color-light-grey;
        border: 5px solid $color-light-grey;
      }

      &--bronze {
        color: $color-bronze;
        box-shadow: 0 0.5rem 4rem $color-bronze;
        border: 5px solid $color-bronze;
      }
    }
    &--back {
      transform: rotateY(180deg);
      //box-shadow: 0 1.5rem 4rem $color-white;

      &--gold {
        background-image: linear-gradient(
          to right bottom,
          $color-gold,
          $color-orange
        );
      }

      &--silver {
        background-image: linear-gradient(
          to right bottom,
          $color-light-grey,
          $color-grey
        );
      }

      &--bronze {
        background-image: linear-gradient(
          to right bottom,
          $color-bronze,
          $color-dark-bronze
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  // FRONT STYLING
  &__image {
    background-size: cover;
    height: 23rem;
    background-blend-mode: color;
    -webkit-clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 0%);
    clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 0%);

    &--gold {
      background-image: linear-gradient(
          to right bottom,
          $color-gold,
          $color-orange
        ),
        url(../../img/gold-image.jpg);
    }
    &--silver {
      background-image: url(../../img/silver-image.jpg);
    }
    &--bronze {
      background-image: url(../../img/bronze-image.jpg);
    }
  }

  &__heading {
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 400;
    position: absolute;
    top: 16rem;
    right: 1rem;
    text-align: right;
    // width: 60%;
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li.gold {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-gold;
        }
      }

      li.silver {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-light-grey;
        }
      }

      li.bronze {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-bronze;
        }
      }
    }
  }

  // BACK STYLING

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
  }

  &__price-box {
    text-align: center;
    margin-bottom: 8rem;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }
}

// &__heading-span {
//   padding: 1rem 1.5rem;
//   box-decoration-break: clone;
//   &--gold {
//     background-image: linear-gradient(
//       to right bottom,
//       rgba($color-gold, 0.85),
//       rgba($color-orange, 0.85)
//     );
//   }
// }
