.composition {
  position: relative;
  &__photo {
    width: 65%;
    height: 200px;
    // box-shadow: 0 1.5rem 3rem $color-white;
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    transition: all, 0.2s;
    // outline-offset: 2rem;

    &--p1 {
      left: 0;
      top: -3rem;
      width: 70%;
    }
    &--p2 {
      left: 40%;
      top: 3rem;
    }
    &--p3 {
      left: 20%;
      top: 15rem;
    }

    &:hover {
      //   outline: 1.5rem solid $color-light-grey;
      box-shadow: 0 1.5rem 3rem $color-white;
      transform: scale(1.05) translateY(-0.5rem);
      z-index: 2;
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
