body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.main-heading {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 4rem;

  &--main-text {
    display: block;
    font-weight: 400;
    letter-spacing: 7rem;
    font-size: 6rem;
    animation-name: main-text-animate;
    animation-duration: 5s;
  }

  &--secondary-text {
    display: block;
    font-weight: 400;
    letter-spacing: 2.05rem;
    font-size: 2rem;
    animation-name: secondary-text-animate;
    animation-duration: 5s;
  }
}

.discover-text {
  text-align: center;
  font-size: 1.5rem;
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right, $color-white, $color-grey);
  -webkit-background-clip: text;
  background-clip: text;
  letter-spacing: 2px;
  color: transparent;
  transition: all 0.2s;

  &:hover {
    text-shadow: 0.5rem 1rem 2rem rgba($color-white, 0.5);
  }

  //  Creates a skewing animation+shadow effect to text
  // &:hover {
  //   transform: skewY(2deg) skewX(15deg) scale(1.1);
  //   text-shadow: 0.5rem 1rem 2rem rgba($color-white, 0.5);
  // }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-white;
}

.paragraph {
  font-size: 1.6rem;
  color: $color-white;

  &:not(last-child) {
    margin-bottom: 3rem;
  }
}
